# MariaDB 10.2 epository list - created 2018-11-06 13:50 UTC
# http://downloads.mariadb.org/mariadb/repositories/
[mariadb]
name = MariaDB
baseurl = http://yum.mariadb.org/{{mariadb.install_version}}/{{mariadb.distr_and_arch}}
gpgkey=https://yum.mariadb.org/RPM-GPG-KEY-MariaDB
gpgcheck=1
